@keyframes showElement {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes showmask {
  0%{
    opacity: 0;
     transform: translateX(-100%);
  }   
 45%,50%{
     transform: translateX(0%);
 }
 90%{
  opacity: .5;
 }
  100%{
     transform: translateX(100%);
     opacity: 0;
  }
}

